/* From Uiverse.io by SelfMadeSystem */ 
/*
Inspired by www.doi.org
More comprehensive version at shenanigans.shoghisimon.ca/collection/spinning-numbers/
 */

.spinning-number {
  position: relative;
  font-size: 0.5em;
}

.spinning-number .wheel {
  animation: spinning-number-spin var(--t) linear infinite var(--r1);
}

@keyframes spinning-number-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-number .number {
  position: absolute;
  transform: translate(-50%, -50%) rotate(var(--a))
    translateY(calc(var(--l) * -1)) scale(var(--s));
}

.spinning-number .number::before {
  content: "1";
  --z: 1.9;
  --r: normal;
  transform: translate(-50%, -50%);
  animation: spinning-number-changing calc(var(--t) * var(--z))
    calc(-1 * var(--z) * var(--t) * var(--i) / var(--m) - 60s) linear infinite
    var(--r);
}

@keyframes spinning-number-changing {
  0% {
    content: "1";
  }
  to {
    content: "0";
  }
}
